.hero {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  height: 80vh;
}

.img-responsive {
  border-radius: 200px;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hero {
    display: flex;
    flex-direction: column;
  }

  .img-responsive {
    width: 60%;
    height: auto;
  }
}

.flip-horizontal-bottom:hover {
  -webkit-animation: flip-horizontal-bottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
